<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="song.api.dict.dao.IDictDao">    <sql id="selectInfo">        SELECT * FROM sys_dict    </sql>    <select id="getDictList" resultType="song.api.dict.model.Dict">        <include refid="selectInfo"/>        <where>            dict_type=#{dictType}        </where>    </select>    <insert id="insertDict" parameterType="song.api.dict.model.Dict">        insert into sys_dict(``)        values(#{})    </insert></mapper>