<form id="form" name="form" method="post"> 
    <input type="hidden" id="Id" name="Id" />
    <table class="form-table">
        <tr>
            <th>姓名：</th>
            <td colspan="3">
                <input type="text" id="Name" name="Name" class="easyui-validatebox textbox" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <th>简介：</th>
            <td colspan="3">
                <textarea id="Intro" name="Intro" class="easyui-validatebox textbox" data-options="required:true"></textarea>
            </td>
        </tr>
        <tr>
            <th>备注：</th>
            <td colspan="3">
                <input type="text" id="Remark" name="Remark" class="easyui-validatebox textbox" data-options="required:true"/>
            </td>
        </tr>
    </table>
</form>  