<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="DbConnectionString"
       connectionString="server=.;database=WSH_Manager;uid=sa;pwd=sasa;"
       providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
