<?xml version="1.0"?>
<attachment>
    <servers default="dot100Server">
        <add name="dot7Server" type="ftp" 
                server="192.168.101.7" username="ewaytec\daemon_work" password="12#$abCD"
                port="21" timeout="300"
                url="http://192.168.101.7:9002/ADCAttachment"/>
        <add name="dot100Server" type="ftp"
                server="192.168.101.100" username="ewaytec\daemon_work" password="12#$abCD"
                port="21" timeout="300"
                url="http://192.168.101.100:9002/ADCAttachment"/>
    </servers>
</attachment>
