.icon-add{ background-image:url(../img/icons/add.gif);}
.icon-addrow{ background-image:url(../img/icons/add-row.gif);}
.icon-delete{background-image:url(../img/icons/delete.gif);}
.icon-deleterow{background-image:url(../img/icons/delete-row.gif);}
.icon-edit{background-image:url(../img/icons/edit.png);}
.icon-back{background-image:url(../img/icons/back.png);}
.icon-cancel{background-image:url(../img/icons/cancel.png);}
.icon-close{background-image:url(../img/icons/close.gif);}
.icon-config{background-image:url(../img/icons/config.gif);}
.icon-goto{background-image:url(../img/icons/goto.gif);}
.icon-folder{background-image:url(../img/icons/folder.gif);}
.icon-error{background-image:url(../img/icons/error.gif);}
.icon-copy{background-image:url(../img/icons/copy.png);}
.icon-search{background-image:url(../img/icons/search.png);}
.icon-query{background-image:url(../img/icons/query.gif);}
.icon-word{background-image:url(../img/icons/word.gif);}
.icon-print{background-image:url(../img/icons/print.gif);}
.icon-save{background-image:url(../img/icons/save.gif);}
.icon-saveadd{background-image:url(../img/icons/save-back.png);}
.icon-reload{background-image:url(../img/icons/reload.png);}
.icon-excel{ background-image:url(../img/icons/excel.gif);}
.icon-pdf{ background-image:url(../img/icons/pdf.gif);}
.icon-success{ background-image:url(../img/icons/success.gif);}
.icon-grid{ background-image:url(../img/icons/grid.gif);}
.icon-info{ background-image:url(../img/icons/info.gif);}
.icon-first{ background-image:url(../img/icons/pager_first.gif);}
.icon-firstdisabled{ background-image:url(../img/icons/firstPageDisabled.gif);}
.icon-prev{ background-image:url(../img/icons/pager_prev.gif);}
.icon-prevdisabled{ background-image:url(../img/icons/prevPageDisabled.gif);}
.icon-next{ background-image:url(../img/icons/pager_next.gif);}
.icon-nextdisabled{ background-image:url(../img/icons/nextPageDisabled.gif);}
.icon-last{ background-image:url(../img/icons/pager_last.gif);}
.icon-lastdisabled{ background-image:url(../img/icons/lastPageDisabled.gif);}
.icon-loading{background-image:url(../img/icons/loading.gif);}