 .song-grid-wrap{ border:0px solid #99BBE8;  position:relative; }
.song-grid-separator{ width:1px; background:red; position:absolute; top:0px; left:0px; display:none;}
.song-grid-header,.song-grid-body{border-width: 0 1px 0px 1px; border-style:solid; border-color:#99BBE8;}
.song-grid-header{background:#fafafa url(../img/grid/easyui-head.gif) repeat-x left bottom;
overflow:hidden;  position:relative;border-top-width:1px;border-bottom:1px solid #ccc; cursor:default;}
.song-grid-headerBox{ left:0px; top:0px; position:relative; }
.song-grid-column{overflow:hidden;border-right: 1px solid #ddd; }
.song-grid-multicolumn{ border-bottom:1px solid #ddd; text-align:center; }
.song-grid-column-inner{cursor:default;  overflow:hidden;white-space: nowrap; padding: 3px 6px;  }
.song-grid-body{ border-bottom-width:1px; background:#fff; overflow:auto; }
.song-grid-bodyBox{  }
.song-grid-table{ table-layout:fixed; border-collapse: separate; width:100%;  }
.song-grid-row{cursor: default; line-height:13px;}
.song-grid-cell{background-color: white; border-color: #EDEDED; 
border-style: solid;border-width: 1px 0;border-top-color: #FAFAFA;border-right:1px solid #ddd;}
.song-grid-row-even .song-grid-cell{ background:#fafafa; }
.song-grid-row-hover .song-grid-cell{ background:#EBF7FF; border-color:#C6E5F8;}
.song-grid-row-active .song-grid-cell{border-color:#91CDF2;
                                        background-color:#D7EFFF; border-style:dotted;border-right:1px solid #ddd;}
.song-grid-cell-inner{overflow: hidden;padding:3px 6px;white-space: nowrap;  }
.song-grid-cmd{   }
.song-grid-cmdline{ margin:0px 3px;}
.song-grid-cmd:hover{ text-decoration:underline; color:Red; }