<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="song.api.async.dao.IAsyncTaskDao">    <sql id="select">        SELECT * FROM sys_async_task    </sql>    <select id="getPendings" resultType="song.common.toolkit.task.async.AsyncTask">        <include refid="select"/>        WHERE task_status IN (0,4)    </select></mapper>