.icon-add {
    background-image: url(../images/icons/add.gif);
}

.icon-addrow {
    background-image: url(../images/icons/add-row.gif);
}

.icon-delete {
    background-image: url(../images/icons/delete.gif);
}

.icon-deleterow {
    background-image: url(../images/icons/delete-row.gif);
}

.icon-edit {
    background-image: url(../images/icons/edit.png);
}

.icon-back {
    background-image: url(../images/icons/back.png);
}

.icon-cancel {
    background-image: url(../images/icons/cancel.png);
}

.icon-close {
    background-image: url(../images/icons/close.gif);
}

.icon-config {
    background-image: url(../images/icons/config.gif);
}

.icon-goto {
    background-image: url(../images/icons/goto.gif);
}

.icon-folder {
    background-image: url(../images/icons/folder.gif);
}

.icon-error {
    background-image: url(../images/icons/error.gif);
}

.icon-copy {
    background-image: url(../images/icons/copy.png);
}

.icon-search {
    background-image: url(../images/icons/search.png);
}

.icon-query {
    background-image: url(../images/icons/query.gif);
}

.icon-word {
    background-image: url(../images/icons/word.gif);
}

.icon-print {
    background-image: url(../images/icons/print.gif);
}

.icon-save {
    background-image: url(../images/icons/save.gif);
}

.icon-saveadd {
    background-image: url(../images/icons/save-back.png);
}

.icon-reload {
    background-image: url(../images/icons/reload.png);
}

.icon-excel {
    background-image: url(../images/icons/excel.gif);
}

.icon-pdf {
    background-image: url(../images/icons/pdf.gif);
}

.icon-success {
    background-image: url(../images/icons/success.gif);
}

.icon-grid {
    background-image: url(../images/icons/grid.gif);
}

.icon-info {
    background-image: url(../images/icons/info.gif);
}

.icon-first {
    background-image: url(../images/icons/pager_first.gif);
}

.icon-firstdisabled {
    background-image: url(../images/icons/firstPageDisabled.gif);
}

.icon-prev {
    background-image: url(../images/icons/pager_prev.gif);
}

.icon-prevdisabled {
    background-image: url(../images/icons/prevPageDisabled.gif);
}

.icon-next {
    background-image: url(../images/icons/pager_next.gif);
}

.icon-nextdisabled {
    background-image: url(../images/icons/nextPageDisabled.gif);
}

.icon-last {
    background-image: url(../images/icons/pager_last.gif);
}

.icon-lastdisabled {
    background-image: url(../images/icons/lastPageDisabled.gif);
}

.icon-loading {
    background-image: url(../images/icons/loading.gif);
}