<form id="form" name="form" method="post"> 
    <input type="hidden" id="Id" name="Id" />
    <table class="form-table">    
		<tr>
			<th><span class="required">*</span>菜单名称:</th>
			<td><input id="MenuName" name="MenuName" type="text" class="easyui-validatebox textbox" data-options="required:true"/></td>
			<th><span class="required">*</span>页面地址:</th>
			<td><input id="Url" name="Url" class="easyui-validatebox textbox" data-options="required:true"></input></td>
            <th><span class="required">*</span>页面标志:</th>
			<td><input id="Url" name="Url" class="easyui-validatebox textbox" data-options="required:true"></input></td>
		</tr>
		<tr>
			<th><span class="required">*</span>父节点:</th>
			<td><input id="ParentId" name="ParentId" type="text" class="easyui-numberbox textbox" data-options="required:true"/></td>
			<th>属性说明:</th>
			<td><input id="Attr" name="Attr" type="text" class="easyui-validatebox textbox"/></td>
            <th>备注:</th>
			<td><input id="Attr" name="Attr" type="text" class="easyui-validatebox textbox"/></td>
		</tr>
		 
    </table>
</form>  
