html, body {
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.fit {
    width: 100%;
    height: 100%;
}

.form-panel {
    margin: 12px;
}

.query-panel {
    margin: 1px;
}

.query-btn-panel {
    width: 150px;
    text-align: center;
}

.query-btn-panel a {
    margin-right: 10px;
}

.form-table, .query-table {
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0px;
}

.form-table th, .form-table td {
    border: 1px solid #99BBE8;
}

.form-table th {
    vertical-align: top;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
    font-weight: normal;
    background: #DFE8F6;
    font-size: 12px;
}

.form-table td {
    padding: 5px 5px;
    vertical-align: middle;
    text-align: left;
}

.query-table {
}

.query-table th {
    vertical-align: center;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
}

.query-table td {
    padding: 3px;
}

.required {
    color: Red;
    margin-right: 3px;
    vertical-align: middle;
}

.btn-panel {
    text-align: right;
    margin-top: 10px;
    border0: 0px solid #B6BEC5;
}

.btn-panel a {
    margin-left: 5px;
}

.btn-split {
    font-size: 0px;
    overflow: hidden;
    height: 5px;
}

.cmp-dialog {
    display: none;
}

.center {
    text-align: center;
}

.wp5 {
    width: 5%
}

.wp10 {
    width: 10%
}

.wp15 {
    width: 15%
}

.wp20 {
    width: 20%
}

.wp25 {
    width: 25%
}

.wp30 {
    width: 30%
}

.wp35 {
    width: 35%
}

.wp40 {
    width: 40%
}

.wp45 {
    width: 45%
}

.wp50 {
    width: 50%
}

.wp60 {
    width: 60%
}

.wp70 {
    width: 70%
}

.wp80 {
    width: 80%
}

.wp90 {
    width: 90%
}

.wp100 {
    width: 100%
}