<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>无标题页</title>
    <link href="../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../css/old/web.css" rel="stylesheet" type="text/css" />

     
</head>
<body>
    <div class="main">
        <!--头部开始-->
        <div class="head">
            <!--logo开始-->
            <div class="logo">logo</div>
            <!--logo结束-->
            <!--头部信息开始-->
            <div class="headinfo">headinfo</div>
            <!--头部信息结束-->
            <!--导航菜单开始-->
            <div class="nav">
                <ul>
                    <li><a href="#" class="selected">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                </ul>
            </div>
            <!--导航菜单结束-->
            <!--banner开始-->
            <div class="banner">banner</div>
            <!--banner结束-->
        </div>
        <!--头部结束-->
        <!--主体内容开始-->
        <div class="content">
            网站主体内容
        </div>
        <!--主体内容结束-->
        <!--底部开始-->
        <div class="footer">
            页脚
        </div>
        <!--底部结束-->
    </div>
</body>
</html>
