body{font-size:12px; margin:0px; font-family:ו;}
a{ text-decoration:none; color:#000; cursor:pointer;}
ul,pre{ margin:0px; padding:0px;}
li{ list-style:none;}
img{vertical-align:middle;}
a img{ border:0px;}