<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingo.modules.demo.mapper.DemoMapper" >
  <resultMap id="BaseResultMap" type="com.bingo.modules.demo.pojo.Demo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, msg
  </sql>

  <select id="selectByIdForXML" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from demo
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectDemoMapList" resultType="java.util.HashMap">
    select a.*,b.* from  demo a,t_demo b
  </select>
</mapper>