<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper>    <sql id="project_column">        SELECT * FROM studio_project    </sql>    <select id="selectByCode" parameterType="String" resultType="com.studio.model.Project">        <include refid="project_column"/>        <where>            <if test="projectCode!=null and projectCode!=''">                projectCode=#{projectCode}            </if>        </where>    </select></mapper>