<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="song.api.user.dao.IUserDao">    <sql id="selectSimple">        SELECT user_id,user_name FROM sys_user    </sql>    <sql id="selectInfo">        SELECT * FROM sys_user    </sql>    <select id="getSimpleUser" resultType="song.common.security.SimpleUser">        <include refid="selectSimple"/>        <where>            user_id=#{userId} AND password=#{password}        </where>    </select>    <select id="getUserInfo" resultType="song.common.security.SimpleUser">        <include refid="selectInfo"/>        <where>            user_id=#{userId}        </where>    </select></mapper>